/* hello */

@font-face {
    font-family: "NotoFont";
    src: url("NotoFont.ttf");
}

h1 {
    color:red; 
}
h2 {
    color: rgb(88, 176, 0);
}
h3 {
    color: hsl(50, 80, 30); 
}
h4 {
    color: #FF0FF0; 
}


* {
    background-color: beige;
}

body {
    background-color: beige;
}

a[href] {
    color: red;
}

li~li {
    color: red;
}

ol+li {
    color: red;
}

.page-header {
    background-color: antiquewhite;
    width: 100vw;
    height: 2cm;
    
    top: 100%;
} 

.main-content {
    width: 100vmax;
    height: 10mm;
}

.content {
    width: 100vw;
    height: 3in;
    font-size: 1.2rem;
    /* text-indent: 45vw; */
    margin-left: 500px;
    line-height: 30pt;
}

.check-ins {
    width: 100vw;
    height: 4in;
    border-style: dashed;
    border-color: aqua;
    border-width: 5px;
    border-radius: 30px;
    background-color: blanchedalmond;
}

.check-ins-arrive {
    margin-left: 17vw;
    margin-right: 0vw;
}
.check-ins-arrive-hd {
    /* margin-left: 20vw;
    margin-right: 0vw; */
    /* padding-left: 20%;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm; */
    padding: 0.5cm 0 0.5cm 20% 
}

.check-ins-noarrive {
    margin: 2vh 0 0 70vw; 
    /* margin-left: 60vw; */
    /* margin-top: -0vh; */
}
.check-ins-noarrive-hd {
    margin: -5.8cm 0 0 0vw; 
    padding-left: 70%;
    padding-top: -5cm;
    padding-bottom: 0.5cm;
}

.brainstorm {
    border-top-color: #FF0FF0;
    border-top-style: dotted; 
    border-top-width: 3px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    border-bottom-color: #FF0FF0;
    border-bottom-style: dotted; 
    border-bottom-width: 3px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 

    text-decoration: line-through;
    text-align: left;
    color: red;
}

span.basil {
    background-color: aquamarine;
    display: inline-block;
    max-inline-size: 200px;
}

span.garlic {
    background-color: orange;
    display: block;
    width: 100px;
    height: 100px;
    max-width: 200px;
    max-height: 200px;
    text-align: center; 
}

.experiment {
    display: block;
    color: #FF0FF0;
    width: 20cm;
    height: 3cm;
    background-color: antiquewhite;
}

#students {
    position: static;
    top: 100px;
    bottom: 10px;
    width: auto;
    background: blue;
}

#ta {
    display: inline-block;
    background-color: rgb(86, 187, 140);
    position:relative; 
    top: 5mm;
    left: 5mm;
}

.meeting_detail {
    font-family: NotoFont;
}

li:hover {
    font-size: 1cm;
    
    color: #FF0FF0;
}

li:active {
    color:rgb(88, 176, 0)
}

.digits {
    display: flex;
    width: 550px;
    /* height: 500px; */
    background-color: #00F0FF;
    flex-direction: column-reverse;
    flex-flow: row;
    flex-wrap: wrap;
    margin-left: 30vw;
}

.digits > div {
    background-color: aquamarine;
    margin: 1cm;
    text-align: center;
    font-size: 50px;
    width: 100px;
    
    /* height: 70px; */
}



.no1, .no5 {
    flex-shrink: 0;
}
.no2 {
    flex-grow: 0;
}


.aaaa { grid-area: tl;}
.bbbb { 
    grid-area: tr;
}
.cccc { grid-area: br;}
.dddd { grid-area: bl;}
.gggg { 
    grid-area: ct;
    justify-self: center;
}

.grids {
    display: grid;

    grid-template-areas: 
    'tl tl .' 
    'bl ct tr'
    'bl br tr'; 
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grids > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
}

@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
    }
  }